.header {
    color: rgb(224, 91, 113);
    padding: 20px;
    text-align: center;
}

.container{


    color: rgb(224, 91, 113);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px salmon;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h3{
    color: salmon;
}

body{
    padding: 24px;
    background-color: rgb(249, 219, 236);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 10px solid salmon;
}

form{
    font-style: italic;
    align-items:center;
}

input{
    background-color:lavenderblush;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(241, 179, 199);
    color: rgb(220, 50, 78);

}

button:hover{
    background-color:lavenderblush;

}